.dropMenu{
    position: absolute;
    border: 1px solid black;
    padding:5px;
    display: block;
}

.hidden{
    display:none;
}

.yesDiv{
    position:absolute;
    background-color: green;
    margin:auto;
    top:5px;
}

.selection{
    margin:2px;
    border: 1px solid black;
    width:40px;
    height:40px;
}

.dropMenu ul {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.dropMenu ul li{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}